/* Custom fonts */

@font-face {
    font-family: 'BallparkWeiner';
    src: url('../font/ballpark.eot');
    src: url('../font/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../font/ballpark.woff') format('woff'),
         url('../font/ballpark.ttf') format('truetype'),
         url('../font/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('../font/dayrom.eot');
    src: url('../font/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../font/dayrom.woff') format('woff'),
         url('../font/dayrom.ttf') format('truetype'),
         url('../font/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kaushan';
    src: url('../font/KaushanScript-Regular.otf') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/********/
/* Body */
/********/
* html {
    min-height: 100vh;
    margin: 10px;
    padding: 0;
    position: relative;
}

body {
    background: url('../img/background.jpg');
    font-family: Kaushan, 'Trebuchet MS', Arial, sans-serif;
    color: chocolate;
    min-height: 1000px;
    min-width: 1000px;
}

#bloc_page {
    min-height: 97vh;
    position: relative;
}

h1 {
    display: flex;
    font-size: 2em;
    font-family: 'Dayrom', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-align: center;
}

h2 {
    display: flex;
    font-size: 1.5em;
    font-family: 'Dayrom', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}


/**********/
/* Header */
/**********/

header {
    font-family: Dayrom, serif;
    background: bisque;
    display: inline-block;
    position: relative;
    width: 100%;
    color:chocolate;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

header h1 {
    align-items: center;
    margin: 0.5em 2em;
    font-size: 4em;
    position:relative;
    font-family: 'BallparkWeiner', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-align: center;
}

#logo {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin: 1.3em;
}

#logo img {
    width: 90px;
    height: 90px;
    margin: auto 1em;
    align-items: center;
}


/**************/
/* Navigation */
/**************/

nav {
    position: absolute;
    align-items: flex-end;
    right: 0;
    bottom: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-right: 1em;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 1.3em;
    color: chocolate;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}


/*************/
/* Home Page */
/*************/

#home_page{
    display: flex;
    position: relative;
    margin: 0 10%;
    font-size: 2.3em;
    font-weight: bold;
    justify-content: space-around;
    top: 5em;
}

.home_page_format {
    display: block;
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
    max-width: 400px;
}


/*********************/
/* Registration Page */
/*********************/

#registration_page{
    display: flex;
    position: relative;
    font-size: 2.3em;
    font-weight: bold;
    justify-content: space-around;
    top: 2em;
}

.registration_page_format {
    display: block;
    text-align: center;
    max-width: 600px;
}


/*************/
/* feed Page */
/*************/

#feed_page{
    display: flex;
    position: relative;
    font-size: 2.3em;
    font-weight: bold;
    justify-content: space-around;
    top: -1em;
}

.feed_page_format {
    display: block;
    text-align: center;
}


/**********************/
/* Create review Page */
/**********************/

#create_review_page{
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    position: relative;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    justify-content: space-around;
    top: -1em;
    text-align: center;
    max-width: 800px;
    left: 25%;
    right: 25%;
}

.create_review_page_format{
    font-size: 1.2em;
    text-align: left;
}

.create_review_page_format label{
    font-size: 1em;
    text-align: left;
} 

.create_review_header{
    font-size: 1.3em;
    position: absolute;
    text-align: center;
    top: -1em;
}

.create_review_header p{
    margin: 0;
}


input#id_book_article_section, #id_review_section{
    visibility: hidden;
    width: 100%;
    height: 0;
}

#id_book_article_title, #id_review_title{
    width: 96%;
    height: 30px;
    text-align: left;
    padding: 0 2%;
    color: black;
    margin-bottom: 3%;
}

input#id_description, input#id_commentary {
    width: 96%;
    height: 200px;
    text-align: left;
    padding: 0 2%;
    color: black;
    margin-bottom: 3%;
}

input#id_image_download{
    margin: 0 70% 5% 5%;
}

input#id_rating {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 700px;
    height: 20px;
}

.rating{
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
    height: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7em;
}

.create_review_wrap_button {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 800px;
    height: 400px;
}

.create_review_wrap_button_top {
    top: 0;
    left: 0;
}

.create_review_wrap_button_bottom {
    bottom: 0;
    right: 0;
}


/***********************/
/* Ask for review Page */
/***********************/

#ask_for_review_page{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    justify-content: space-around;
    top: -1em;
    text-align: center;
    max-width: 800px;
    left: 25%;
    right: 25%;
    padding: 0 10;
}

#ask_for_review_page_format{
}

#ask_for_review_page_format input[type=text], input[type=password] {
    padding: 10px 70px;
    margin: 4px 2px;
}

.ask_for_review_wrap_button {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 800px;
    height: 400px;
}

.ask_for_review_wrap_button_top {
    top: 0;
    left: 0;
}

.ask_for_review_wrap_button_bottom {
    bottom: 0;
    right: 0;
}


/***********/
/* Content */
/***********/

.information{
    display: flex;
    position: relative;
    margin: 0 30%;
    font-size: 2em;
    font-weight: bold;
    justify-content: space-around;
    text-align: center;
    top: 7em;
}

.h1{
    display: flex;
    position: relative;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    top: 1em;
}

li::marker{
    margin: 0;
    font-weight: normal;
    text-align: left;
    font-size: small;
}

table, th, td {
    border: 1px solid black;
}

.subscribe_information{
    display: flex;
    position: relative;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: space-around;
    text-align: center;
}


/**********/
/* Footer */
/**********/

footer {
    display: block;
    position: absolute;
    bottom: 0;
    background:bisque;
    border-top: 2px solid black;
    margin-top: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    min-width: 100%;
}

.footer-text p {
    align-items: center;
    text-align: center;
    margin: 0.5em;
    position:relative;
}


/**********/
/* Widget */
/**********/

input[type=text], input[type=password] {
    background-color:bisque;
    border: 1px solid chocolate;
    padding: 10px 70px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: text;
    color: chocolate;
}

input[type=button], input[type=submit], input[type=reset], button[type=button] {
    background-color:bisque;
    border: 1px solid chocolate;
    padding: 10px 50px;
    text-decoration: none;
    box-shadow: 10px 5px 5px chocolate;
    margin: 4px 2px;
    cursor: pointer;
    color: chocolate;
    font-weight: 900;
}

button a{
    text-decoration: none;
    color: inherit;
}


/*********/
/* Other */
/*********/

.wrap_button{
    margin: 10px;
}

.in_line {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.in_reverse_line {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}

.errorlist{
    color: red;
    font-size: small;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}
