{% extends 'reviews/base.html' %}


{% block content %}

    <div id="ask_for_review_page">
        <div class="ask_for_review_page_format">

            <div>
                <p>
                    <label>Créer un ticket</label>
                </p>
            </div>

            <form action="{% url 'reviews:ask_for_review' %}" method="post">
                {% csrf_token %}

                {{ form.as_table }}

                <div class="ask_for_review_wrap_button">
                    <div class="ask_for_review_wrap_button_top">
                        <p>
                            <input type="submit" name="image_download" value="Télécharger fichier">
                        </p>
                    </div>
                    <div class="ask_for_review_wrap_button_bottom">
                        <p>
                            <input type="submit" value="Envoyer">
                        </p>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}