{% extends 'reviews/base.html' %}


{% block content %}

    <div id="review_page">

        <div class="review_header">
            <p>
                <label>Créer une critique</label>
            </p>
        </div>

        <div class="review_page_format">
            <form action="{% url 'reviews:create_review' %}" method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="create_review_wrap_button">
                    <div class="create_review_wrap_button_top">
                        <p>
                            <button type="button">
                                <a href="{% url 'reviews:feed' %}">Télécharger fichier</a>
                            </button>
                        </p>
                    </div>
                    <div class="create_review_wrap_button_bottom">
                        <p>
                            <input type="submit" value="Envoyer">
                        </p>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}