
{% extends 'reviews/base_with_navbar.html' %}


{% block content %}
    {% comment %}
        This message appears if a ticket has been created.
    {% endcomment %}
    {% if  message == 'save_new_ticket' %}
        <div class="message">
            <p>
                Votre ticket a été créé.
            </p>
        </div>
    {% endif %}

    {% comment %}
        Add buttons on the top of the feed page.
    {% endcomment %}
    <div id="feed_page">
        <div class="feed_page_format">
            <div class="in_line">
                <div class="wrap_button">
                    <p>
                        <button type="button">
                            <a href="{% url 'reviews:ask_for_review' %}">Demander une critique</a>
                        </button>
                    </p>
                </div>
                <div class="wrap_button">
                    <p>
                        <button type="button">
                            <a href="{% url 'reviews:create_review' %}">Créer une critique</a>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
        Display feed.
    {% endcomment %}
    {% if posts.count > 0 %}
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'ticket_snippet.html' with post=post%}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'review_snippet.html' with post=post%}
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="information">
            <p>Aucune critique ou ticket n'a été publié par les personnes que vous suivez.</p>
        </div>
    {% endif %}

{% endblock %}
