{% extends 'reviews/base.html' %}


{% block content %}

    <form action="{% url 'reviews:registration' %}" method="post">
        <label for="user_name">Inscrivez-vous maintenant</label>
        <input type="submit" value="S'inscrire'">
    </form>

    <form action="{% url 'reviews:feed' user.username %}" method="post">
        {% csrf_token %}
        <label for="user_name">Connectez-vous</label>
        <input id="user_name" type="text" name="user_name" placeholder="Nom d'utilisateur" required>
        <input id="password" type="text" name="password" placeholder="Mot de passe" required>
        <input type="submit" value="Se connecter">
    </form>

{% endblock %}