{% load static %}

<div class="snippet_body">

    <div class="snippet_header">

        <div class="snippet_user">
            {% if user.get_username == post.user.username %}
                <label>Vous avez publié une critique</label>
            {% else %}
                <label>{{post.user.username}} a publié une critique</label>
            {% endif %}
        </div>

        <div class="snippet_date">
            {{post.time_created|date:"h:m, d M Y"}}
        </div>
    </div>

    <div class="snippet_title">
        {{post.headline}} -
    </div>

    <div class="snippet_description">
        {{post.body}}
    </div>

    
    <div class="include_snippet_body">

        <div class="snippet_header">
            <div class="snippet_user">
                <label>Ticket - {{post.user.username}}</label>
            </div>
        </div>

        <div class="snippet_title">
            {{post.ticket.title}}
        </div>

        <div class="snippet_description">
            {{post.ticket.description}}
        </div>

        {% if post.ticket.image %}
            <div class="snippet_image">
                <img src="{{ post.ticket.image.url }}">
            </div>
        {% endif %}
    </div>
</div>
