{% extends 'reviews/base_with_navbar.html' %}

{% block content %}

    <h1>
        <label>Suivre d'autres utilisateurs</label>
    </h1>

    <h2>
        <label>Abonnements</label>
    </h2>
    {% if subscribtions.count > 0 %}
        <table>
            <tr>
                <th>Pseudo</th>
                <th>Supprimer</th>
            </tr>
            {% for subscribtion in subscribtions %}
                <tr>
                    <td>{{subscribtion.username}}</td>
                    <td>
                        <form action='reviews:subscribtion' method='POST'>
                            <button type='submit' name=subscribtion.id>Se désabonner</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="subscribe_information">
            <p>Vous ne suivez personne.</p>
        </div>
    {% endif %}

    <h2>
        <label>Abonnés</label>
    </h2>
    {% if subscribers.count > 0 %}
        <table>
            <tr>
                <th>Pseudo</th>
            </tr>
            {% for subscriber in subscribers %}
                <tr>
                    <td>{{subscriber.username}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="subscribe_information">
            <p>Personne ne vous suit.</p>
        </div>
    {% endif %}

{% endblock %}
